name: Deploy on VM

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Update repo on VM
        shell: bash
        run: |
          set -euo pipefail
          cd /home/felipi/Desktop/prod/projeto_pipeline
          git fetch origin
          git reset --hard origin/main
          echo "Deployed: $(git rev-parse --short HEAD)"
